/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*END CSS RESET */

/*
  =====================
  Body
  =====================
*/

body {
  background: #e6ecf0;
  line-height: 20px;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  color: #14171a;
  overflow: scroll;
}

/*
  =====================
  Grid
  =====================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 1190px;
}

.feed-content {
  padding: 10px 0 15px 0;
}

.tweet-stream {
  width: 584px;
  padding-left: 10px;
  padding-right: 10px;
}

.col {
  display: inline-block;
  vertical-align: top;
}

.right-col,
.left-col {
  width: 290px;
}

.col-content {
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  background: #fff;
}
/*
  =====================
  Clearfix
  =====================
*/

.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  clear: both;
  *zoom: 1;
}

/*
  ========================================
  Typography
  ========================================
*/

h1, h3, h4, h5, p {
  color: #222;
  margin-bottom: 22px;
}

h1 {
  font-size: 36px;
  line-height: 44px;
}

h2 {
  font-size: 24px;
  line-height: 44px;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

strong {
  font-weight: 700;
}

cite, em {
  font-style: italic;
}

a {
  color: #14171a;
  text-decoration: none;
}

/*
  ========================================
  Header
  ========================================
*/

.global-header {
  width: 100%;
  text-align: center;
  height: 46px;
  background: #fff;
  border-bottom: 1px solid rgba(0,0,0,0.25);
  line-height: 44px;
  font-size: 13px;
}

.global-header ul {
  height: 45px;
}

.left-nav {
  float: left;
  font-weight: 700;
}

.left-nav a {
  padding: 20px 0 20px 0;
}

.left-nav li:hover,
.left-nav a:hover {
  color: #1da1f2;
}

.left-nav li:hover {
  border-bottom: 4px solid #1da1f2;
}

.right-nav {
  float: right;
}

.form-search {
  position: relative;
}

.header-search {
  color: #222;
  border-radius: 20px;
  border: 1px solid rgba(0,0,0,0.2);
  background: #e6ecf0;
  height: 32px;
  width: 200px;
  line-height: 16px;
  padding: 8px;
  font-size: 11px;
  transition: background 0.3s;
}

.header-search:focus {
  outline: none;
  background: #fff;
  box-shadow: 0 0 0 2px rgb(29, 161, 242);
}

.search-icon {
  position: absolute;
  color: rgba(0,0,0,0.5);
  top: 16px;
  right: 10px;
}

.header-profile-pic {
  height: 32px;
  border-radius: 20px;
  margin-top: 6px;
}

.header-profile-pic:active {
  box-shadow: 0 0 0 2px rgba(29, 161, 242, 0.8);
}

.tweet-button {
  background: #4db5f5;
  color: white;
  font-weight: 700;
  font-size: 13px;
  border: 2px solid #fff;
  border-radius: 20px;
  padding: 8px 16px 8px 16px;
  outline: none;
}

.tweet-button:hover {
  background: #1da1f2;
}

.tweet-button:active {
  box-shadow: 0 0 0 2px rgba(29, 161, 242, 0.5);
}

.header-poster {
  height: 240px;
  overflow: hidden;
}

.header-poster img{
  vertical-align: top;
  display: block;
  width: 100%;
}

.header-bar {
  width: 100%;
  height: 60px;
  background: #fff;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

/*
  ========================================
  Navigation
  ========================================
*/

.nav {
  display: inline-block;
}

.nav li {
  display: inline-block;
  margin: 0 10px 0 10px;
  vertical-align: top;
}

.nav li:first-child {
  margin-left: 0;
}

.nav li:last-child {
  margin-right: 0;
}

.twitterLogo {
  color: #1da1f2;
  margin-top: 8px;
}

/*
  ========================================
  Profile Card
  ========================================
*/

.card {
  padding-bottom: 22px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  text-align: left;
  line-height: 24px;
}

.card img {
  border-radius: 50%;
  border: 6px solid #fff;
  height: 200px;
  margin: -176px 0 22px 0;
  vertical-align: top;
}

.card li {
  cursor: pointer;
}

#card-userNameLink {
  font-size: 24px;
  letter-spacing: 1.5px;
  font-weight: 700;
}

#card-userHandleLink {
  color: grey;
}

.small-profile-pic {
  height: 42px;
  border-radius: 20px;
  margin-top: 6px;
}

.small-profile-pic:active {
  box-shadow: 0 0 0 2px rgba(29, 161, 242, 0.8);
}
/*
  ========================================
  Tweet
  ========================================
*/

.tweetDetails {
  min-height: 51px;
  padding: 9px 12px;
  border-bottom: 1px solid #e6ecf0;
  background: #fff;
  cursor: pointer;
}

/*
  ========================================
  Users You Know
  ========================================
*/

.usersYouKnow {
  background-color: rgba(0, 0, 0, 0);
}

.usersYouKnow ul li {
  cursor: pointer;
  padding: 3px;
}

.usersYouKnow li {
  display: inline-block;
  margin: 0 5px 0 5px;
}

.usersYouKnow li:nth-child(2) {
  margin: 0 3px 0 8px;
}

/*
  ========================================
  Top Hashes
  ========================================
*/

.topHashes {
  height: 160px;
}

#topHashes {
  margin-top: 10px;
}

.topHashesLeft {
  float: left;
  color: #898b8c;
}

.topHashesRight {
  float: right;
  padding-right: 25px;
  font-size: 120px;
  color: #dbf0fd;
  user-select: none;
}

/*
  ========================================
  Additional Sections
  ========================================
*/

.section-header {
  display: block;
}

.section-header a {
  padding-left: 4px;
  padding-right: 4px;
  font-size: 12px;
  color: #1da1f2;
}

.section-header span {
  font-size: 20px;
}

.legal {
  margin-bottom: 1px;
  display: block;
  font-size: 12px;
  height: 90px;
  overflow:hidden;
}

.legal a {
  color: grey;
}

.advertise {
  overflow:hidden;
  height: 40px;
  font-size: 12px;
  color: #1da1f2;
}

/*
  ========================================
  External Tooltip Addon
  ========================================
*/

.tooltip {
  margin:8px;
  padding:8px;
  color: #fff;
  background-color:#333;
  position: absolute;
  z-index: 2;
}

/*
  ========================================
  Tweet Modal
  ========================================
*/

.tweetModal {
  display: none; 
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.7);
}

.modal-content {
  background-color: #dbf0fd;
  border-radius: 8px;
  margin: 15% auto; 
  border: 1px solid #888;
  width: 40%; 
}

.modal-heading {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom: 1px solid #b8bcc0;
  background-color: #fff;
  padding: 5px;
  font-weight: 800;
  text-align: center;
}

.modal-heading h3 {
  margin-top: 22px;
}

#modal-form {
  padding: 10px;
  width: 100%;
  border-radius: 6px;
  margin-bottom: 30px;
}

#modal-textarea {
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  width: 100%;
  height: 94px;
  border-radius: 6px;
  resize: none;
}

#modal-charRemaining {
  float: right;
  margin: 5px 10px 0 0;
  color: #898b8c;
}

#modal-submit {
  float: right;
}

.close {
  color: #888;
  float: right;
  padding-right: 10px;
  font-size: 38px;
}

.close:hover,
.close:focus {
  color: #222;
  text-decoration: none;
  cursor: pointer;
}