/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*END CSS RESET */

/*
  =====================
  Body
  =====================
*/

body {
  background: #e6ecf0;
  line-height: 20px;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  color: #14171a;
}

/*
  =====================
  Grid
  =====================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 1190px;
}

.feed-content {
  padding: 56px 0 15px 0;
}

.tweet-stream {
  width: 604px;
}

.col {
  display: inline-block;
  vertical-align: top;
  padding-left: 10px;
  padding-right: 10px;
}

.left-col,
.right-col {
  width: 290px;
  height: 300px;
  background: #fff;
  padding-left: 10px;
  padding-right: 10px;
}

/*
  =====================
  Clearfix
  =====================
*/

.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  clear: both;
  *zoom: 1;
}

/*
  ========================================
  Typography
  ========================================
*/

strong {
  font-weight: 700;
}

cite, em {
  font-style: italic;
}

/*
  ========================================
  Header
  ========================================
*/

.global-header {
  width: 100%;
  text-align: center;
  height: 46px;
  background: #fff;
  border-bottom: 1px solid rgba(0,0,0,0.25);
  line-height: 44px;
}

.left-nav {
  font-size: 13px;
  float: left;
}

.right-nav {
  float: right;
}

.fa {
  color: #1da1f2;
}

/*
  ========================================
  Navigation
  ========================================
*/

.nav {
  display: inline-block;
}

.nav li {
  display: inline-block;
  margin-right: 15px;
  vertical-align: top;
}

.nav li:last-child {
  margin-right: 0;
}

.twitterLogo {
  color: #1da1f2;
  margin-top: 8px;
}

/*
  ========================================
  Tweet
  ========================================
*/

.tweetDetails {
  min-height: 51px;
  padding: 9px 12px;
  border-bottom: 1px solid #e6ecf0;
  background: #fff;
  cursor: pointer;
}